.produto-imagem-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.preco-atual {
  color: var(--bs-primary);
  font-weight: bold;
}

.preco-original {
  text-decoration: line-through;
  color: var(--bs-text-muted);
}

.porcentagem-desconto {
  color: var(--bs-danger);
  font-weight: bold;
}