<div class="container mt-4" *ngIf="produto">
  
  <div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-4 produto-imagem-container">
        <img [src]="produto.thumbnail" class="img-fluid rounded-start" [alt]="produto.title">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h2 class="card-title">{{ produto.title }}</h2>
          <p class="card-text">{{ produto.description }}</p>
          <p class="card-text"><strong>Avaliação:</strong> <span class="text-muted"> {{ produto.rating | number: '1.2-2' }} / 5</span></p>

          <div *ngIf="produto.discountPercentage > 0; else noDiscount">
            <h3 class="preco-atual mb-0 d-inline-block">R$ {{ produto.price | number: '1.2-2' }}</h3>
            <p class="preco-original d-inline-block ms-2 mb-0"> R$ {{ produto.precoOriginal | number: '1.2-2' }} </p>
            <p class="porcentagem-desconto d-inline-block ms-2"> ({{ produto.discountPercentage | number: '1.0-0' }}% de Desconto) </p>
          </div>
          
          <ng-template #noDiscount>
            <h3 class="preco-atual">R$ {{ produto.price | number: '1.2-2' }}</h3>
          </ng-template>

          <ul class="list-unstyled mt-3">
            <li *ngIf="produto.brand"><strong>Marca:</strong> {{ produto.brand }}</li>
            <li><strong>Categoria:</strong> {{ produto.category }}</li>
            <li *ngIf="produto.availabilityStatus"><strong>Disponibilidade:</strong><span> {{ produto.availabilityStatus }}</span></li>
            <li *ngIf="produto.stock"><strong>Estoque:</strong> {{ produto.stock }} unidades</li>
            <li *ngIf="produto.minimumOrderQuantity"><strong>Quantidade Mínima para Pedido:</strong> {{ produto.minimumOrderQuantity }}</li>
            <li *ngIf="produto.warrantyInformation"><strong>Garantia:</strong> {{ produto.warrantyInformation }}</li>
            <li *ngIf="produto.shippingInformation"><strong>Previsão de Entrega:</strong> {{ produto.shippingInformation }}</li>
            <li *ngIf="produto.returnPolicy"><strong>Política de Devolução:</strong> {{ produto.returnPolicy }}</li>
            <li *ngIf="produto.weight"><strong>Peso:</strong> {{ produto.weight }} kg</li>
            <li *ngIf="produto.dimensions"><strong>Dimensões:</strong> {{ produto.dimensions.width }} x {{ produto.dimensions.height }} x {{ produto.dimensions.depth }} cm</li>
          </ul>
          
          <div class="card-footer d-flex justify-content-between">
            <a routerLink="/lista-de-produtos" class="btn btn-secondary">Voltar</a>

          <div *ngIf="isAdmin" class="d-flex justify-content-end">
            <a [routerLink]="['/produto-formulario', produto.id]" class="btn btn-warning me-2">Editar</a>
            <button (click)="excluirProduto(produto.id)" class="btn btn-danger">Excluir</button>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card mt-4 p-3">
    <h4 class="card-title">Principais Avaliações</h4>
    <ul class="list-unstyled">
      <li *ngFor="let review of produto.reviews">
        <div class="card p-3 mb-2">
          <p class="mb-0">
            <strong>{{ review.reviewerName }}</strong> - 
            <small class="text-muted">{{ review.rating }} / 5</small>
          </p>
          <p class="mb-0">"{{ review.comment }}"</p>
        </div>
      </li>
    </ul>
  </div>

</div>

<div class="container mt-4" *ngIf="!produto">
  <p>Carregando detalhes do produto...</p>
</div>